//Colors
$color-primary: #141332;
$color-secondary: #1D1D41;
$color-tertiary: #8C89B4;
$color-border: #4B4B99;
$color-text: #FFFFFF;

//Fonts
$font-family-base: 'GeneralSans', Helvetica, Arial, sans-serif;
$line-height-base: 1.5;
$font-weight-normal: 400;